
<footer class="colophon border-top-thin clearfix mt-2 mt-lg-4">
  <div class="container mx-auto px-2">
    
     <div class="col01">
   		<!--  <img src="/images/8bit_logo_white.svg" alt="8bit logo" class="footer-logo"> -->
   		 <img src="{{ "/images/8bit_logo_white.svg" | prepend: full_base_url }}" alt="8bit logo" class="footer-logo">
   		 8-Bit Int<br/>
   		 Built with character
	</div>
   

	<div class="col02">
		<a href="mailto: info@8bitint.com">info@8bitint.com</a>
     <div class="linkedin-info">
    	 <a href="https://www.linkedin.com/company/8-bit-int/about/"><i class="fab fa-linkedin"></i></a>
    	 <a href="https://www.linkedin.com/company/8-bit-int/about/">LinkedIn</a>
     </div>

   <div class="linkedin-info">
    	 <a href="https://twitter.com/8bitint"> <i class="fab fa-twitter-square"></i></a>
    	 <a href="https://twitter.com/8bitint">Twitter</a>
     </div>
     
    

 	</div> <!-- col02 -->

  </div> <!-- end container? -->

</footer>
